<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Seat Booking web application</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Welcome to Seat Booking website</h1>
  <p><a href="/booking">Go to Booking</a></p>
</body>
</html>